{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "KeyVaultUri": "https://finlytics-dev-kv.vault.azure.net/",
    "SqlConnectionName": "FinlyticsSql"
  }
}
